@using PagedList;
@using PagedList.Mvc;
@model PagedList.PagedList<Quanlytrungtamngoaingu.Models.HocVien>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}
<style type="text/css">
    th {
        text-align: center !important;
        background-color: #d9d5d5;
    }

    table, th, td {
        border: 1px solid black !important;
    }

    tr:hover {
        background-color: #f5f5f5;
    }

    a {
        color: black;
    }

    #btnSearch {
        border-radius: 5px !important;
    }
</style>
<h2 style="color:brown">Thông tin học viên</h2>
<div class="row" style="margin-left:10px">
    <input id="txtInput" />
    <button id="btnSearch" class="btn btn-primary">Tìm kiếm khóa học</button>
</div>
<p>
    @Html.ActionLink("Thêm khóa học", "themmoiHocVien", "QuanLyKhoaHoc")
</p>
<table class="table">
    <tr>
        <th style="width:70px;text-align:center">
            @Html.DisplayNameFor(model => model.First().Mahv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Hotenhv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Taikhoan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Matkhau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Diachihv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Dienthoaihv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Gioitinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Ngaysinh)
        </th>
        <th>Điều chỉnh</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.Mahv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hotenhv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Taikhoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matkhau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diachihv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dienthoaihv)
            </td>
            <td style="text-align:center">
                @Html.DisplayFor(modelItem => item.Gioitinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ngaysinh)
            </td>
            <td>
                <button class="btn btn-success" style="border-radius:5px!important;">
                    @Html.ActionLink("Chỉnh sửa", "editHocVien", new { @Mahv = item.Mahv }, null)
                </button>
                <form method="post" action="/QuanLyKhoaHoc/deleteHocVien">
                    <input type="hidden" value="@item.Mahv" name="Mahv" />
                    <button class="btn btn-danger" style="width:91px;margin-top:5px;border-radius:5px!important;">Xóa</button>
                </form>
            </td>
        </tr>
    }

</table>
<div>
    <i class="icon-download"></i> <a href="@Url.Action("DownloadExcelHocVien","QuanLyKhoaHoc")">Download Excel</a>
</div>
<br />
<i class="icon-upload"></i> Upload Excel    <span style="color:red">@TempData["TrungMa"]</span>
<form action="/QuanLyKhoaHoc/ImportExcelHocVien" enctype="multipart/form-data" method="post">
    <input type="file" name="file" />
    <input type="submit" value="OK" />
</form>
<script>
    $('#btnSearch').on('click', function () {
        var giatrinhap = $('#txtInput').val();
        window.location.href = "/QuanLyKhoaHoc/timKiemHocVien?Hotenhv=" + giatrinhap;
    });
</script>
<div style="text-align:center; margin-top:30px;">
    @*Tạo link liên kết trang*@
    Trang@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    <ul class="pagination">
        @Html.PagedListPager(Model, page => Url.Action("viewHocVien", new { page = page }))
    </ul>
</div>
