
@{
    Layout = null;
    var username = Session["Taikhoan"] as Quanlytrungtamngoaingu.Models.HocVien;
}
<!DOCTYPE html>

<html>

<head>
    <title>Academics &mdash; Website study</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.title</title>
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="~/Content/css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="~/Content/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="~/Content/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="~/Content/css/aos.css">
    <link href="~/Content/css/jquery.mb.YTPlayer.min.css" media="all" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="~/Content/css/style.css">
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <div class="site-wrap">
        <!--start header-->
        <div class="py-2 bg-light">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-9 d-none d-lg-block">
                        <a href="#" class="small mr-3"><span class="icon-question-circle-o mr-2"></span> Have a questions?</a>
                        <a href="#" class="small mr-3"><span class="icon-phone2 mr-2"></span> 10 20 123 456</a>
                        <a href="#" class="small mr-3"><span class="icon-envelope-o mr-2"></span>webchuaxong@gmail.com</a>
                    </div>
                    @if (username == null)
                    {
                        <div class="col-lg-3 text-right">
                            <a href="/NguoiDung/DangNhap" class="small mr-3">
                                <span class="icon-unlock-alt"></span>
                                @Html.ActionLink("Login", "DangNhap", "NguoiDung", null, htmlAttributes: new { @class = "DangNhap" })
                            </a>
                            <div class="small btn btn-primary px-4 py-2 rounded-0">
                                <a  href="/NguoiDung/DangKy"><span class="icon-users"> </span></a>
                                @Html.ActionLink("Register", "DangKy", "NguoiDung", null, htmlAttributes: new { @class = "Dangky" })
                            </div>
                        </div>
                    }
                    else
                    {
                        
                        <div class="col-lg-3 text-right">
                            <div>Xin chào @username.Taikhoan</div>
                            <a href="" class="small btn btn-primary px-4 py-2 rounded-0">
                                <span class="icon-users"></span>
                                @{
                                    @Html.ActionLink("Đăng Xuất", "Logout", "NguoiDung")
                                }

                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
        <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner" style="">

            <div class="container">
                <div class="d-flex align-items-center">
                    <div class="site-logo">
                        <a href="/Home/Index" class="d-block">
                            <img src="~/images/logo.jpg" alt="Image" class="img-fluid">
                        </a>
                    </div>
                    <div class="mr-auto">
                        <nav class="site-navigation position-relative text-right" role="navigation">
                            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                                <li class="active">
                                    <a href="/Home/Index" class="nav-link text-left">Trang Chủ</a>
                                </li>
                                <li><a href="/GiangVien/GiangVien">Giảng Viên</a></li>
                                <li>
                                    <a href="/KhoaHoc/KhoaHoc" class="nav-link text-left">Khóa Học</a>
                                </li>
                                <li class="has-children">
                                    <a href="" class="nav-link text-left">Ngôn ngữ</a>
                                    <ul class="dropdown">
                                        <li> @Html.Action("ListNgonngu", "Ngonngu")</li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/NguoiDung/Contact" class="nav-link text-left">Liên Hệ</a>
                                </li>
                                @if (username == null)
                                {

                                }
                                else
                                {
                                    <li class="has-children">
                                        <a href="" class="nav-link text-left">Đăng ký</a>
                                        <ul class="dropdown">
                                            <li>
                                                <a href="/DangKyHoc/ListDangKy" class="nav-link text-left">Khóa Học Đã Chọn</a>
                                            </li>
                                            @if (username.Taikhoan == "admin" && username.Matkhau == "0967011248")
                                            {
                                            <li>
                                                <a href="/QuanLyKhoaHoc/viewKhoaHoc" class="nav-link text-left">Quản Trị Admin</a>
                                            </li>
                                            }
                                        </ul>
                                    </li>
                                    
                                    
                                }
                            </ul>
                        </nav>

                    </div>
                    <div class="ml-auto">
                        <div class="social-wrap">
                            <a href="https://www.facebook.com/profile.php?id=100009940334293&ref=bookmarks"><span class="icon-facebook"></span></a>
                            <a href="#"><span class="icon-twitter"></span></a>
                            <a href="#"><span class="icon-linkedin"></span></a>

                            <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a>
                        </div>
                    </div>

                </div>
            </div>
        </header>
        <!--end header-->
        <div class="noidung">
            @RenderBody()

        </div>
        <!--start footer-->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <p class="mb-4"><img src="~/images/logo.png" alt="Image" class="img-fluid"></p>
                        <p>Trung tâm đào tạo đa ngôn ngữ, giúp các bạn tự tin trong giao tiếp</p>
                        <p><a href="#">Tìm hiểu thêm</a></p>
                    </div>
                    <div class="col-lg-3">
                        <h3 class="footer-heading"><span>Cơ sở của chúng tôi</span></h3>
                        <ul class="list-unstyled">
                            <li><a href="#">Bệnh sốt xuất huyết</a></li>
                            <li><a href="#">Tin tức</a></li>
                            <li><a href="#">Thực tập sinh của chúng tôi</a></li>
                            <li><a href="#">Lãnh đạo của chúng tôi</a></li>
                            <li><a href="#">Nghề nghiệp</a></li>
                            <li><a href="#">Nguồn nhân lực</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h3 class="footer-heading"><span>Khóa học của chúng tôi</span></h3>
                        <ul class="list-unstyled">
                            <li><a href="#">Tiếng Anh cơ bản</a></li>
                            <li><a href="#">Tiếng Nhật cơ bản</a></li>
                            <li><a href="#">Tiếng Trung cơ bản</a></li>
                            <li><a href="#">Tiếng Hàn cơ bản</a></li>
                            <li><a href="#">Đào tạo Tiếng Anh B1</a></li>
                            <li><a href="#">TOEIC</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h3 class="footer-heading"><span>Liên Hệ</span></h3>
                        <ul class="list-unstyled">
                            <li><a href="#">Trung tâm trợ giúp</a></li>
                            <li><a href="#">Cộng đồng hỗ trợ</a></li>
                            <li><a href="#">Chia sẻ câu chuyện của bạn</a></li>
                            <li><a href="#">Tổ tư vấn</a></li>
                            <li><a href="#">Những người ủng hộ chúng tôi</a></li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="copyright">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Bản quền ©
                                <script>document.write(new Date().getFullYear());</script> Tất cả quyền được bảo lưu tại não
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end footer-->
    <!-- loader -->
    <div id="loader" class="show fullscreen">
        <svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#51be78" />
        </svg>
    </div>
    <!--end loader-->
    <!--jquery-->
    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Content/js/jquery-ui.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/jquery.stellar.min.js"></script>
    <script src="~/Content/js/jquery.countdown.min.js"></script>
    <script src="~/Content/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/js/jquery.easing.1.3.js"></script>
    <script src="~/Content/js/aos.js"></script>
    <script src="~/Content/js/jquery.fancybox.min.js"></script>
    <script src="~/Content/js/jquery.sticky.js"></script>
    <script src="~/Content/js/jquery.mb.YTPlayer.min.js"></script>
    <script src="~/Content/js/main.js"></script>

</body>
</html>